@import "./reset.scss";
@import "./animations.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f6f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  transition: all 0.3 ease;
  color: #212121;
}

button {
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.btn {
  border: 1px solid #f3353e;
  padding: 7px 15px;
  color: #f3353e;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;

  &-small {
    padding: 5px;
    font-size: 0.4rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &:hover {
    background: #f3353e;
    color: #fff;
  }

  &-disabled {
    border: 1px solid #f19ea2;
    color: #f19ea2;

    &:hover {
      background-color: #fff;
      color: #f19ea2;
      cursor: not-allowed;
    }
  }

  &-primary {
    background-color: #f3353e;
    color: #fff;

    &:hover {
      background-color: #ffffff;
      color: #f3353e;
    }
  }
}
