@import "./all.scss";

.main_container {
  @extend %container;
  background-color: #f4f6f8;
}

.main_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48.7%, 1fr));
  grid-gap: 1em;
  margin-bottom: 30px;
}
