.movie_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 10px;
  transition: all 0.3 ease !important;
  cursor: auto;

  &:hover {
    background-color: #e0e0e0;
  }

  .img_wrapper {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 10px;
  }

  img {
    width: 100%;
  }

  h4 {
    font-size: 0.85em;
  }

  .text_small {
    font-size: 0.7rem;
    color: #757575;
  }

  .content_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
  }

  .movie_details {
    width: fit-content;
  }

  .actions {
    display: flex;
    z-index: 900;
  }

  .actions span {
    font-size: 1.3em;
    color: #f3353e;
    cursor: pointer;
  }
}
