@import "./all.scss";

.search_results {
  @extend %main-content;

  h2 {
    @extend %title;
  }

  .card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 15px;
    margin-top: 20px;
    position: relative;
  }

  .pagination {
    padding: 30px 15px 15px;
    display: flex;
    justify-content: center;
  }
  margin-bottom: 50px;
}
